@use "./src/assets/variables" as *;

.search {
    display: flex;
    flex-direction: column;

    &__label {
        margin: 0 0 8px 0;
        font-size: 24px;
    }

    &__input {
        width: 240px;
        padding: 8px 16px;
    }
}
