@use "../../assets/styles/variables" as *;

.search {
    display: flex;
    flex-direction: column;

    &__label {
        margin: 0 0 8px 0;
        font-size: 24px;
    }

    &__input {
        width: 160px;
        border-radius: 4px;
        border: 1px solid $color-primary-main;
        padding: 8px 16px;
    }
}
