@use "../../assets/styles/variables" as *;

.main {
    padding: 16px 16px 32px;
    background-color: $color-white;

    &--state--list {
        display: grid;
        grid-template-columns: 1fr;
    }

    &--state--module {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
