// Font families
$font-family-primary: 'Bebas Neue', cursive;
$font-family-secondary: 'Roboto', sans-serif;

// Colors
$color-primary-main: #000000;
$color-primary-light: #ececec;
$color-secondary-main: #00afdb;
$color-white: #ffffff;