@use "./src/assets/variables" as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px;
  background-color: $color-primary-light;

  &__search {
    display: flex;
    flex-direction: column;

    &-label {
      margin: 0 0 8px 0;
      font-size: 24px;
    }

    &-input {
      width: 240px;
      padding: 8px 16px;
    }
  }

  &__filter-label, &__sort-label {
    margin: 0 0 8px 0;
    font-size: 24px;
  }
}
