@use "./assets/variables" as *;

body {
  max-width: 1239px;
  margin: 0 auto;
  background-color: $color-primary-main;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
