@use "../../assets/styles/variables" as *;

.nav {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: $color-primary-light;

    &__searchFilterSort, &__recordsView {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__recordsView {
        align-items: flex-end;
    }
}
